body {
	background: #ebebeb;
}

@-ms-viewport{
  width: device-width;
}

.form-signup, .form-signin {
    width: 400px;
    margin: 0 auto;
}

.margin-top-5 {
	margin-top: 5px;
}

.padding-top-25 {
	padding-top: 25px;
}

.green {
	color: #6fc274;
}

.red {
	color: #ef756a;
}

.blue {
	color: #347088;
}

.orange {
	color: #ec9811;
}

.pink {
	color: #d9797a;
}


.top-bar {
	width: 100%;
	position: absolute;
	top: 0;
	height: 50px;
	min-height: 50px;
	background: #515763;	
}

.side-bar {
	position: absolute;
	left: 0;
	top: 50px;
	width: 250px;
	background: #515763;
	min-height: 950px;
}

.side-bar ul {
	list-style: none;
	padding-left: 0;
}

.side-bar ul > li {
	border-bottom: 1px solid #515763;
	padding-left: 20px;
}

.side-bar ul > li > a {
	display: inline-block;
	color: #fff;
	padding: 12px 22px 12px 8px;
}